@media(min-width: 1860px) {
    .header__logo {
        width: 40px;
        height: 40px;
    }
}
@media(min-width: 1540px) and (max-width: 1859px) {
    .header__logo {
        width: 36px;
        height: 36px;
    }
}
@media(min-width: 1220px) and (max-width: 1539px) {
    .header__logo {
        width: 32px;
        height: 32px;
    }
}
@media(min-width: 360px) and (max-width: 479px) {
    .header__logo {
        width: 40px;
        height: 40px;
    }
}