.header__time-number {
    color: rgb(255, 255, 255);
}
@media(min-width: 1860px) {
    .header__time-number {
        font-size: 36px;
    }
}
@media(min-width: 1540px) and (max-width: 1859px) {
    .header__time-number {
        font-size: 27px;
    }
}
@media(min-width: 360px) and (max-width: 479px) {
    .header__time-number {
        font-size: 27px;
    }
}