.header__buy-button {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(135deg, rgb(255, 77, 77), rgb(82, 0, 102));
    border: none;
}
@media(min-width: 1860px) {
    .header__buy-button {
        width: 169px;
        height: 44px;
        font-size: 16px;
        line-height: 44px;
        border-radius: 22px;
    }
}
@media(min-width: 1540px) and (max-width: 1859px) {
    .header__buy-button {
        width: 150px;
        height: 38px;
        font-size: 14px;
        line-height: 38px;
        border-radius: 19px;
    }
}
@media(min-width: 360px) and (max-width: 479px) {
    .header__buy-button {
        width: 160px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 20px;
    }
}