.header__progressbar {
    display:flex;
    justify-content: flex-end;
    width: 714px;
    height: 6px;
    margin-bottom: 10px;
    background-image: linear-gradient(135deg, rgb(255, 77, 77), rgb(82, 0, 102));
    border-radius: 1px;
}
@media(min-width: 1860px) {
    .header__progressbar {
        width: 714px;
        height: 6px;
        margin-bottom: 10px;
    }
}
@media(min-width: 1540px) and (max-width: 1860px) {
    .header__progressbar {
        width: 650px;
        height: 5px;
        margin-bottom: 9px;
    }
}
@media(min-width: 360px) and (max-width: 479px) {
    .header__progressbar {
        width: 100%;
        height: 6px;
        margin-bottom: 10px;
    }
}