.header__heading {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}
@media(min-width: 1860px) {
    .header__heading {
        margin-bottom: 50px;
        font-size: 64px;
    }
}
@media(min-width: 1540px) and (max-width: 1859px) {
    .header__heading {
        margin-bottom: 45px;
        font-size: 50px;
    }
}
@media(min-width: 360px) and (max-width: 480px) {
    .header__heading {
        margin-bottom: 50px;
        padding: 50px 50px 0;
        font-size: 30px;
        text-align: center;
    }
}