.header__top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px 0;
}


@media(min-width: 360px) and (max-width: 479px) {
    .header__top-block {
        padding: 10px 15px 0;
    }
}