.header__students-text {
    font-family: 'Roboto', sans-serif;
    color: rgb(80, 80, 80);
}
@media(min-width: 1860px) {
    .header__students-text {
        font-size: 16px;
        line-height: 19px;
    }
}
@media(min-width: 1540px) and (max-width: 1859px) {
    .header__students-text {
        font-size: 14px;
        line-height: 17px;
    }
}
@media(min-width: 360px) and (max-width: 479px) {
    .header__students-text {
        font-size: 16px;
        line-height: 19px;
    }
}