@media(min-width: 360px) and (max-width: 640px) {
    .header__mobile-button {
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
}
@media(min-width: 641px) {
    .header__mobile-button {
        display: none;
    }
}