.header__sum {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}
@media(min-width: 1860px) {
    .header__sum {
        font-size: 16px;
        line-height: 19px;
    }
}
@media(min-width: 1540px) and (max-width: 1859px){
    .header__sum {
        font-size: 14px;
        line-height: 17px;
    }
}
@media(min-width: 360px) and (max-width: 479px){
    .header__sum {
        font-size: 16px;
        line-height: 19px;
    }
}