.header__link {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
@media(min-width: 1860px) {
    .header__link {
        font-size: 16px;
    }
}
@media(min-width: 1540px) and (max-width: 1859px) {
    .header__link {
        font-size: 14px;
    }
}